.poll-container {
    display: flex;
    align-items: center; /* Centers poll & image */
    gap: 20px; /* Space between poll and image */
}

.poll-content {
    flex: 1; /* Takes remaining space */
}

.poll-image img {
    width: 300px; /* Adjust size */
    height: auto;
    border-radius: 10px; /* Optional rounded corners */
}

@import "gallery";

/* Override the blog title bar */
.header-bar {
  text-align: left;
  padding-left: 1rem;

  h1 {
    font-size: 2rem;
    color: var(--global-text-color); // replaces the green
    margin-bottom: 0.5rem;
  }

  h2 {
    display: none; // hides the subtitle if empty
  }
}
